.container {
    color: white;
    margin-top: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .taskContainer {
    padding: 20px;
  }
  
  .task {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  #log {
    background-color: white;
    color: #270546;
    margin: 20px;
    margin-left: 65%;
  }

  #log:hover{
    background-color: #460485;
    color: white;
  }